doctype html
html(lang='en')
  head
    title Quiz Master - #{title}
    meta(http-equiv='Content-Type', content='text/html;charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='author', content='ZulNs')
    meta(name='keywords', content='quiz')
    meta(name='description', content='Quiz Master')
    meta(name='robots', content='all')
    meta(name='copyright', content='ZulNs')
    link(rel='icon', href='/images/favicon.svg', type='image/svg+xml')
    block stylesheets
      link(rel='stylesheet', href='/w3css/w3.css')
      link(rel='stylesheet', href='/fontawesome/css/fontawesome.min.css')
      link(rel='stylesheet', href='/fontawesome/css/solid.min.css')
      link(rel='stylesheet', href='/stylesheets/display.css')
  body
    block content
    block scripts
      script(type='text/javascript', src='/socketio/client-dist/socket.io.js')
